<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-2.5.xsd">
   <!-- load propertie into ioc container -->
   <bean id="pphc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   <property name="location" value="classpath:hibernate.properties"></property>
   </bean>
   
   <!-- injuct context scope data into  required bean -->
   
   <bean id="cp" class="com.jspiders.Spring_Demo1PropertiesDependencyInjuctionByUsingExpresion.ConnectionPool">
   <property name="driver" value="${driverClass}"></property>
   <property name="url" value="${url}"></property>
   <property name="user" value="${username}"></property>
   <property name="password" value="${password}"></property>
   </bean>
	
</beans>