<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
			<bean id="t" class="com.jspiders.Spring_Demo1SetterInjuctionForProperties1FromFile.Test">
			<property name="properties">
			<props>
			<prop key="driver_class">com.mysql.jdbc.Driver</prop>			
			<prop key="url">jdbc:mysql://localhost:3306/test</prop>
			<prop key="user">root</prop>
			<prop key="password">avid</prop>
			</props>
			
			</property>
			
			</bean>
			
			
			
			</beans>
