<?xml version="1.0" encoding="UTF-8"?>

<!-- bean definitions here -->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        				http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
        				
        				<bean id="t1" class="com.jspiders.Spring_Demo1SetterInjuctionForProperties1FromFile.TestUse">
        				<property name="properties">
        				<!-- <util:properties location="classpath:driver.properties"></util:properties> -->
						<util:properties location="driver.properties"></util:properties>	        				
        				</property>
        				
        				</bean> 
        				
        				

</beans>