<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
	<beans>
	<bean id="start" class="com.jspiders.Spring_Demo1EventHandlers.IocStartEventListener"></bean>
	<bean id="stop" class="com.jspiders.Spring_Demo1EventHandlers.IocStopEventListener"></bean>
	<bean id="refresh" class="com.jspiders.Spring_Demo1EventHandlers.IocRefreshedEventListener"></bean>
	<bean id="close" class="com.jspiders.Spring_Demo1EventHandlers.IocCloseEvent"></bean>
	
	
	</beans>