<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
			"http://www.springframework.org/dtd/spring-beans-2.0.dtd">
			<beans>
			
			<!--  by using  MethodInvokingFactoryBean object -->
		 	<bean id="c" class="com.jspiders.Spring_Demo1StaticVariableDependencyInjuction.Car" >
			</bean>
			<bean id="mifb" class=" org.springframework.beans.factory.config.MethodInvokingFactoryBean">
			<property name="staticMethod" value="com.jspiders.Spring_Demo1StaticVariableDependencyInjuction.Car.setCarName">
			</property>
			<property name="arguments">
			<list>
			<value>benz</value>
			</list>
			</property>
			</bean>
			
			
			 
			 <!-- normal approach -->
		<!-- 	 <bean id="c" class="com.jspiders.Spring_Demo1StaticVariableDependencyInjuction.Car" >
			<property name="carName" value="audi"></property>
			</bean>
		 -->	
			</beans>